body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  margin: 4rem auto;
  display: block;
}

footer {
  background: #2D5D6C;
  color: #ffffff;
  text-align:center;
  margin-top: 1rem;
  padding: 1rem;
}

.navcontainer nav {
  background: #56A3A6;
  display: grid;
}
.navcontainer ul {
    display: flex;
    list-style-type: none;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    background-color: #56A3A6;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.navcontainer li {
  text-decoration: none;
  list-style-type: none;
  margin: 5px;
  padding: 5px;
}
.navcontainer a {
  text-decoration: none;
  list-style-type: none;
  font-style:normal;
  text-transform: inherit;
  color: #000000;
  font-weight: 400;
  font-size: 1.5em;
}
.navcontainer a:hover {
  color: #FEEFDD;
}

.menu_trigger {
  display: flex;
}
