body {
  margin: 0;
  padding: 0;
  font-family: "Spectral", serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #DBDFF7;
}

.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  width: 100%;
  box-sizing: border-box;

}

.topnav a {
  float: left;
  display: block;
  color: #8493F0;
  text-align: center;
  padding: 15px 85px;
  text-decoration: none;
  font-size: 17px;
  width: 33.33%;
  box-sizing: border-box;
}

.topnav a:hover {
  background-color: #000000;
  color: black;
}

.topnav a.active {
  background-color: #8493F0;
  color: black;
}

.topnav .icon {
  display: none;
}

footer {
  background: #FFFFFF;
  color: #8493F0;
  text-align:center;
  margin-top: 1rem;
  padding: 1rem;
}
