body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#myMap {
  margin: 0;
  display: block;
}

#content {
  display: block;
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

section {
  margin: 4rem auto;
  display: block;
}

nav {
  background: #2D5D6C;
  height: 9rem;
}

nav a {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

nav a:focus {
  background: #FFFFFF;
  color: #2D5D6C;
}

footer {
  background: #2D5D6C;
  color: #ffffff;
  text-align:center;
  margin-top: 1rem;
  padding: 1rem;
}
}
